@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9e8e6;
  min-height: 100vh;
  overflow-x: hidden;
}
.navbar{
  display: flex;
  background-color: #f3f4f6;
  justify-content: space-between;
}
.logo{
  padding: 1rem 2rem;
  font-size: 1.3rem;
}
.menu-links{
  display: flex;
  transition: all 0.3s ease-in-out;
}
li{
  list-style-type: none;
  padding: 1rem;
  font-size: 1.2rem;
}
a{
  text-decoration: none;
  color: #111;
}
.sign-up-btn{
  text-decoration: underline;
}
.hamburger{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: .8rem;
  display: none;
}


/* SignIn Component CSS */
.body{
  width: 100%;
  background: #f3f4f6;
  height: 92vh;
}
.container{
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.login-icon{
  color: #3862ec;
  padding: .2rem;
  font-size: 2rem;
}
.icon{
  color: #3862ec;
  font-size: 2rem;
}
.title{
  text-align: center;
  margin: 1rem 0;
}
.box{
  width: auto;
  background-color: #fefefe;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
}

input{
  display: block;
  width: 100%;
  height: 40px;
  margin: 1rem 0;
  border: 1px solid #f4f4f4;
  padding: 0 1rem;
  border-radius: 5px;
  outline: none;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.sign-in-btn{
  width: 100%;
  padding: .7rem 0;
  letter-spacing: .5px;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 2rem;
  background-color:#3862ec ;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.sign-in-btn:hover{
  color: #3862ec;
  background-color: #fff;
  border: 1px solid #3862ec;
}
.signup{
  color: #011cff;
}
/* 
Home Page CSS */

.hero{
  width: 100%;
  margin: 5rem 0;
}
.fluid-container{
  display: flex;
  place-items: center;
}
.left-side{
width: 50%;
}
.right-side{
  width: 50%;
}
.section-title{
  font-weight: 400;
  padding: 1rem 2rem;
  font-size: 3rem;
  word-break: break-word;
  letter-spacing: 1.5px;
}
.section-para{
  font-weight: 300;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}
.hero-button{
  margin:1.5rem 2rem;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  border: none;
  background-color: #3862ec;
  color: #f3f4f6;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 1.2px;
}
img{
    width: 100%;
    height: auto;
}
.hero-image {
  width: 60%;
}

.hero-image img {
  width: 100%;
}

/* About Page CSS */

main{
  width: 340px;
}

/* Responsive CSS */


@media only screen and (max-width: 600px) {
  .hamburger{
    display: block;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: .8rem;
    position: absolute;
    right: 0;
    top: 1rem;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
  }
  .menu-links{
    display: none;
  }
  .mobile-menu-link{
    background-color: #f3f4f6;
    height: 50vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 6rem;
  }
  .fluid-container{
    display: flex;
    flex-direction: column;
  }
  .right-side{
    width: 100%;
  }
  .left-side{
    width: 100%;
  }
  li{
    font-size: 1.5rem;
  }
  .section-title{
    font-size: 2rem;
  }
  .section-para{
    font-size:1rem ;
  }
}
