@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9e8e6;
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.logo{
  padding: 1rem 2rem;
}
ul{
  display: flex;
}
li{
  list-style-type: none;
  padding: 1rem;
}
a{
  text-decoration: none;
  color: #111;
}